<html>
	<head th:replace="~{base :: head}"></head>
	
	<body>
		<div th:replace="~{base :: logo}"></div>
		
		<div class="container">
			<div th:replace="~{base :: titulo('Todos os Atendimentos')}"></div>
			
			<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
				<a href="/mvc/novoAtendimento"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo Atendimento</button></a>
			</nav>

			<div class="card mb-3" th:each="atendimento : ${pacientes}">
			
				<div clas="card-body">	
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">

							<div>Nome do Paciente:</div>
							<div><input class="form-control" th:value="${atendimento.nomePaciente}" value="nome do paciente"/></div>
							
							<div>CPF:</div>
								<div><input class="form-control" th:value="${atendimento.cpf}" value="cpf"/></div>
								
							<div>Suspeita de infecção:</div>
							<div><input class="form-control" th:value="${atendimento.suspeitaInfeccao}" value="suspeita de infecção"/></div>
							
							<div>Resultado do Teste 01:</div>
							<div><input class="form-control" th:value="${atendimento.resultadoDoTeste01}" value="resultado do teste 01"/></div>
							
							<div>Resultado do Teste 02:</div>
							<div><input class="form-control" th:value="${atendimento.resultadoDoTeste02}" value="resultado do teste 02"></div>
							
							<div class="col-md-6">Data do Atendimento: <span th:text="${#temporals.format(atendimento.dataDoAtendimento, 'dd/MM/yyyy')}">10/02/2020</span></div>
							
							<div>Horário do início do atendimento:</div>
							<div><input class="form-control" th:value="${atendimento.horaInicioDoAtendimento}" value="horário do início do atendimento"></div>
							
							<div>Horário do fim do atendimento:</div>
							<div><input class="form-control" th:value="${atendimento.horaFimDoAtendimento}" value="horário do fim do atendimento"></div>
							
							<div>Tempo de atendimento:</div>
							<div><input class="form-control" th:value="${atendimento.tempoDeAtendimento}" value="tempo de atendimento"></div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>