<html>
	<head th:replace="~{base :: head}"></head>
	
	<body onload="onLoad()">
		<div th:replace="~{base :: logo}"></div>
		
		<div class="container" id="atendimentos">
			<div th:replace="~{base :: titulo('Todos os Atendimentos')}"></div>
			
			<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
				<a href="rest/novoAtendimento"><button class="btn btn-outline-primary my-2 my-sm-0">Novo Atendimento</button></a>
			</nav>

			<div class="card mb-3" v-for="paciente of pacientesArray" :key="paciente.id">
				<div class="card-header alert-dark">{{paciente.nomePaciente}}</div>
				
				<div clas="card-body">
					<table>
        				<thead>
							<tr>
								<th>NOME</th>
								<th>CPF</th>
								<th>INFECÇÃO?</th>
								<th>TESTE 1</th>
								<th>TESTE 2</th>
								<th>DATA</th>
								<th>HORA INÍCIO</th>
								<th>HORA TÉRMINO</th>
								<th>TEMPO ATENDIMENTO</th>
							</tr>
        				</thead>

						<tbody>
							<tr>
								<td>{{ paciente.nomePaciente}} </td>
								<td>{{ paciente.cpf }}</td>
								<td>{{ paciente.suspeitaInfeccao }}</td>
								<td>{{ paciente.resultadoDoTeste01 }}</td>
								<td>{{ paciente.resultadoDoTeste02 }}</td>
								<td>{{ paciente.dataDoAtendimento }}</td>
								<td>{{ paciente.horaInicioDoAtendimento }}</td>
								<td>{{ paciente.horaFimDoAtendimento }}</td>
								<td>{{ paciente.tempoDeAtendimento }}</td>
								<td>
									<button class="waves-effect btn-small blue darken-1"><i class="material-icons">create</i></button>
									<button class="waves-effect btn-small red darken-1"><i class="material-icons">delete_sweep</i></button>
								</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
		
		<script>
			function onLoad(){
				var app = new Vue({
					el : '#atendimentos',
					data : {
						pacientesArray : [],
						errors: []
					},
					mounted() {
						this.listarPacientes()
					},

					methods:{

						listarPacientes(){
							axios
								.get('http://localhost:8080/api/listaAtendimentosJSON')
								.then(resposta => 
									(this.pacientesArray = resposta.data))
						}
					}
				});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		
	</body>
</html>