<head th:fragment="head">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!-- Vue-Picker -- https://github.com/invisiburu/vue-picker -->
	<!-- optional css -->
	<link rel="stylesheet" href="https://unpkg.com/@invisiburu/vue-picker/dist/vue-picker.min.css">
	
	<style>
		.logo-container {
			background-color: #47bcff;
			color:#fff;
		}
		
		.logo {
			font-family: 'Handlee', cursive;
			font-size: 2.5rem;
		}
	</style>
	
	<!-- <title><%= htmlWebpackPlugin.options.title %></title> -- >
	<body>
	<noscript>
		<strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -- >
	</body>
	-->
</head>

<div th:fragment="logo">
	<div class="row logo-container p-3 d-flex justify-content-between">
		<span class="logo ml-2">Sistema de Atendimentos - CODIV</span>
		<span class="mt-3">
			<a class="text-light mr-2" sec:authorize="!isAuthenticated()" href="/login">login</a>
			<a onclick="document.querySelector('#form-login').submit()" class="text-light mr-2" sec:authorize="isAuthenticated()" href="/login">logout</a>
			<form id="form-login" th:action="@{/logout}" method="post"></form>
		</span>
	</div>
	<div class="row" sec:authorize="isAuthenticated()">
		<div class="col">
			<a class="nav-link" th:href="@{/lista}">Lista de Atendimentos</a>
			<a class="nav-link" th:href="@{/home}">Home</a>
		</div>		
	</div>
</div>

<div th:fragment="titulo(valor)" class="jumbotron mt-2 mb-2">
	<h1 class="display-4" th:text="${valor}"></h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>